server:
  port: 8080

spring:
  application:
    name: telegram-bot

  main:
    allow-circular-references: false

  datasource:
    url: jdbc:postgresql://localhost:5432/MAGA
    username: postgres
    password: test
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false
    encoding: UTF-8

  security:
    user:
      name: ${admin.username}
      password: ${admin.password}
      roles: ADMIN

  web:
    resources:
      static-locations: classpath:/static/

admin:
  username: ${ADMIN_USERNAME:admin}
  password: ${ADMIN_PASSWORD:admin123}

# Включим подробное логирование для шедулера
logging:
  level:
    ru.melnikov.telegrambot.service: DEBUG
    ru.melnikov.telegrambot.service.SmartReminderService: INFO
    ru.melnikov.telegrambot.service.ReminderMessageService: INFO
    org.springframework.scheduling: DEBUG

telegram:
  bot:
    enabled: true         # включен ли бот
    token: 8512371848:AAEqIbcRIEa7mVnCw_mGpU9DyQPyqnYwB0A
    username: pisms_guardian_bot

  admins:
    usernames:
      - "mi1ord"  # Ваш username без @
    #userIds:
    #  -

  reminders:
    # Настройки расписания
    schedule:
      enabled: true
      time: "22:35"        # Время отправки ежедневного расписания
      days: "1111100"      # Пн-Пт (1=включено, 0=выключено)

    # Настройки дедлайнов
    deadlines:
      enabled: true
      time: "22:36"        # Время отправки еженедельных дедлайнов
      days: "1101010"      # Вт, Чт, Сб

    # Настройки напоминаний перед парой
    before-class:
      enabled: true
      minutes: 10          # За сколько минут напоминать о начале пары

    # Настройки определения типа недели (odd/even)
    week-type:
      reference-date: "2025-12-29"
      reference-week-type: "even"  # ЧЕТНАЯ = ЗНАМЕНАТЕЛЬ

    # Настройки планировщика
    scheduler:
      enabled: true
      check-interval: "0 * * * * *"  # Проверка каждую минуту