server:
  port: 8080

spring:
  application:
    name: telegram-bot

  datasource:
    url: jdbc:postgresql://localhost:5432/MAGA
    username: postgres
    password: test
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

  web:
    resources:
      static-locations: classpath:/static/

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

telegram:
  bot:
    enabled: true
    token: 8512371848:AAEqIbcRIEa7mVnCw_mGpU9DyQPyqnYwB0A
    username: pisms_guardian_bot
    group-settings:
      welcome-message: true  # Приветственное сообщение при добавлении
      auto-respond: true     # Автоответ на команды
      mention-support: true  # Поддержка упоминаний